<!DOCTYPE html>
<html>
<head>
	<title>Why F-150</title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href= "https://www.carlogos.org/car-logos/ford-logo-2003.png" >
</head>
<body>
	<div class="header">
		<a href="../index.html" class="logo"></a>
		<div class="header-right">
			<a href="../index.html">Home</a>
			<a href="In Action.html">F-150</a>
			<a class="active" href="about.html">About</a>
			<a href="Competitors.html">Competitors</a>
		</div>
	</div>

		
	<h1>Reviews</h1>
		<div>
			<p class="p2">
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon empty">☆</span>
				<a href="https://cars.usnews.com/cars-trucks/ford/f-150" target="_blank">U.S.N</a>
				<br>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon">☆</span>
				<a href="https://www.caranddriver.com/ford/f-150-2020" target="_blank">C/D</a>
				<br>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon full">☆</span>
				<span class="star-icon empty">☆</span>
				<span class="star-icon">☆</span>
				<a href="https://www.edmunds.com/ford/f-150/" target="_blank">Edmunds</a>
				<br>
				<br>
			</p>
			<p class="p3">
				"The combination makes it one of the most versatile trucks available and justifies the F-Series as the top-selling vehicle on the market."
				<a href="https://www.edmunds.com/ford/f-150/">Full article</a>
				<br>
				<img src="../media/lariat.jpg" alt="lariat"><a href="https://www.edmunds.com/ford/f-150/" target="_blank"> Edmunds</a>
				<br> <br><br>
				"It seduces with options that range from massaging seats to a panoramic sunroof." <a href="https://www.caranddriver.com/ford/f-150-2020" target="_blank">Full article</a><br>
				<img src="../media/inside.jpg" alt="inside"><a href="https://www.caranddriver.com/ford/f-150-2020" target="_blank">Car And Driver</a>
				<br><br><br>
				"The F-150 isn't lacking for power or choice under the hood." <a href="https://www.motortrend.com/cars/ford/f-150/2020/" target="_blank">Full article</a>
				<br>
				<img src="../media/engine.png" alt="engine."> <a href="https://www.motortrend.com/cars/ford/f-150/2020/" target="_blank">Motortrend</a>
			</p>
		</div>
	</div>
</body>
</html>                            	