<!DOCTYPE html>
<html>
<head>
	<title>Competitors</title>
	<link rel="stylesheet" type="text/css" href="../css/Competitors.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href= "https://www.carlogos.org/car-logos/ford-logo-2003.png" >
</head>
<body>
	<div class="header">
		<a href="../index.html" class="logo"></a>
		<div class="header-right">
			<a href="../index.html">Home</a>
			<a href="In Action.html">F-150</a>
			<a href="about.html">About</a>
			<a class="active" href="Competitors.html">Competitors</a>
		</div>
	</div>
	<div class="fade">
		<h1>All New 2021 Ford F-150</h1>
<p>

<ul>
  <li>The all-new F-150 is Built Ford Tough with an all-new high-strength <br> steel frame and high-strength, military-grade, aluminum alloy body. <br>We see it as our duty to deliver not just what our customers want <br> and need, but what they never thought possible.</li>
  <li>The all-new F-150 has more standard driver-assist technology for <br> 2021 model year, aiming to help people more safely and <br>confidently face congested roads –today and tomorrow.</li>
  <li>The all-new Ford F-150 is available with Pro Power Onboard™ , <br>featuring more exportable power than any light-duty full-size <br>pickup, giving you the ability to use your truck as a mobile <br> generator. It is available with three levels of electrical output <br>depending on engine choice.</li>
  <li> Available lockable, fold-flat, dividablestorage extends the width of <br>the interior under the rear seats and allows for safe storage of valuables.<br> Great for long items like hunting gear, fi shing rods or blueprints</li>
</ul>
<img src="../media/f150/2021fordf150.jpg" alt="F-150">
</p>
</body>