<!DOCTYPE html>
<html>
<head>
	<title>F-150</title>
	<link rel="stylesheet" type="text/css" href="../css/In Action.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href= "https://www.carlogos.org/car-logos/ford-logo-2003.png" >
</head>
<body>
	<div class="header">
		<a href="../index.html" class="logo"></a>
		<div class="header-right">
			<a href="../index.html">Home</a>
			<a class="active" href="In Action.html">F-150</a>
			<a href="about.html">About</a>
			<a href="Competitors.html">Competitors</a>
		</div>
	</div>
	<div class="fade">
		<h1>In Action</h1>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck12.jpg" alt="truck12" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck1.jpg" alt="truck1" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck2.jpg" alt="truck2" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck3.jpg" alt="truck3" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck4.png" alt="truck4" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck5.jpg" alt="truck5" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck6.jpg" alt="truck6" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck7.jpg" alt="truck7" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck8.jpg" alt="truck8" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck9.jpg" alt="truck9" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck10.jpeg" alt="truck10" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../media/f150/truck12.jpg" alt="truck12" style="width:81%">
</div>

</body>
</html>

